<div class="section" id="about">
  <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
              <div class="col-lg-6 col-md-12">
                  <div class="card-body">
                      <div class="h4 mt-0 title">About Me</div>
                          <p>I am very determined to learn and succeed in this industry. I am currently working as a QA Automation Engineer in Austin, Texas.</p>
                          <p>I a living in Austin, Texas with my wife and a daughter on the way. I went to school up at BYU-I in Idaho and  I met my wife up there at school.</p>
                          <p>In my free time I like to work with my hands and I like to be outside. My favorite hobbies are basketball and working on my car.</p>
                  </div>
              </div>    
              <div class="col-lg-6 col-md-12">       
                  <div class="card-body">
                      <div class="h4 mt-0 title">Basic Information</div>
                      <div class="row">
                          <div class="col-sm-4">
                              <strong class="text-uppercase">Age</strong>
                          </div>
                          <div class="col-sm-8">20</div>
                      </div>
                      <div class="row mt-4">
                          <div class="col-sm-4">
                              <strong class="text-uppercase">Email:</strong>
                          </div>
                          <div class="col-sm-8">astoncook2001@gmail</div>
                      </div>
                      <div class="row mt-4">
                          <div class="col-sm-4">
                              <strong class="text-uppercase">Mobile Phone:</strong>
                          </div>
                          <div class="col-sm-8">512-775-6693</div>
                      </div>
                      <div class="row mt-4">
                          <div class="col-sm-4">
                              <strong class="text-uppercase">Address:</strong>
                          </div>
                          <div class="col-sm-8">Austin, Texas</div>
                      </div>
                   </div>
              </div>
          </div>
      </div>
  </div>
</div>