<div class="section" id="contact">
  <div class="container">
    <div class="col-md-9">
      <div class="h4 text-center title">Contact Me</div>
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">
            <p class="mb-0">
              <strong>Phone</strong>
            </p>
            <p class="pb-2">512-775-6693</p>
            <p class="mb-0">
              <strong>Email</strong>
            </p>
            <p>astoncook2001@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
