<section class="contact" id="contact">
  <h2 class="contact__title">Contact Me</h2>
  <a href="astoncook2001@gmail.com">
    <button class="btn-secondary btn--degrade">Contact</button>
  </a>
  <ul class="list">
    <li class="list__item">
      <a href="https://github.com/astoncook"
        ><i class="fab fa-github fa-3x"></i
      ></a>
    </li>
    <li class="list__item">
      <a href="https://www.linkedin.com/in/aston-cook-4982461a1/"
        ><i class="fab fa-linkedin fa-3x"></i
      ></a>
    </li>
  </ul>
</section>
