<div class="navbar navbar-default"></div>
<div class="container-fluid">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">Aston Cook</a>
  </div>
  
  <ul class="nav navbar-nav">
    <li><a href="/src/app/home/home.component.html">Home</a></li>
    <li><a href="/src/app/about/about.component.html">About</a></li>
    <li><a href="/src/app/portfolio/portfolio.component.html">Portfolio</a></li>
    <li><a href="/src/app/contact/contact.component.html">contact</a></li>
  </ul>
</div>
