<header>
    <div class="toggle">
      <i class="fas fa-2x" [ngClass]="{'fa-bars':!navOpen, 'fa-times':navOpen}"></i>
    </div>
    <nav>
      <ul class="nav nav--hightlighted" [ngClass]="{'nav__open':navOpen}">
        <li class="nav__brand"><a href="#"> Aston Cook</a></li>
        <li class="nav__item"><a (click)="scroll('home')">Home</a></li>
        <li class="nav__item"><a (click)="scroll('about')">About</a></li>
        <li class="nav__item"><a (click)="scroll('skill')" >Portfolio</a></li>
        <li class="nav__item"><a (click)="scroll('portfolio')" >Portfolio</a></li>
        <li class="nav__item"><a (click)="scroll('contact')" >contact</a></li>
      </ul>
    </nav>
  </header>